.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.isDone {
    text-decoration: line-through;
    font-weight: bold;
    color: rebeccapurple;
}

.notComplete {
    color: rgba(154, 73, 0, 0.85);
}

.error {
    border-color: red;
}

.error_text {
    color: red;
}

.active-filter {
    background-color: dodgerblue;
}